body {
    font-family: 'Gill Sans MT', 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-left: 2rem;
    margin-right: 2rem;
}

header {
    background-color: antiquewhite;
    padding: 8px;
}
.logo {
    height : 100px;
    width: auto;
    /* background-color: blueviolet; */
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}



footer{
    background-color: black;
    color: white;
    padding: 8px;

}